<form method="get" action="/api/products" class="search-box {{form_display}}">
          <h3>Search for:</h3>
          <div class="search-box__metal-filters">
              {% if search['gold'] %}
                <input type="checkbox" id="gold" name="gold" value="true" checked>
              {% else %}
                <input type="checkbox" id="gold" name="gold" value="true">
              {% endif %}
              <label for="gold">Gold</label><br>
              {% if search['silver'] %}
                <input type="checkbox" id="silver" name="silver" value="true" checked>
              {% else %}
                <input type="checkbox" id="silver" name="silver" value="true">
              {% endif %}
              <label for="silver">Silver</label><br>
          </div>
          <div class="search-box__search-size">
            <select name="bullion_size" id="bullion_size">
                {% if search['bullion_size']%}
                    <option disabled hidden>Size</option>
                {% else %}
                    <option disabled selected  hidden>Size</option>
                {% endif %}
              {% for size in search['search_schema']['bullion_size']%}
                {% if size == search['bullion_size']%}
                    <option selected value="{{size}}">{{size}}</option>
                {% else %}
                    <option value="{{size}}">{{size}}</option>
                {% endif %}
              {% endfor %}

          </select>
              <select name="bullion_form" id="bullion_form">
               {% if search['bullion_form']%}
                    <option disabled hidden>Form</option>
                {% else %}
                    <option disabled selected  hidden>Form</option>
                {% endif %}
              {% for form in search['search_schema']['bullion_form']%}
                {% if form == search['bullion_form']%}
                    <option selected value="{{form}}">{{form}}</option>
                {% else %}
                    <option value="{{form}}">{{form}}</option>
                {% endif %}
              {% endfor %}
          </select>
          </div>
            <button id="search" class="search-box__button" type="submit"> Search <i class="fas fa-search"></i></button>
            <span id="search-error"></span>
            <span id="search-success"></span>
        </form>