<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bullionradar | search gold and silver billion</title>
  <meta name="author" content="">
  <meta name="description" content="Bullionadar watches thousands of products to find the best deals on in-stock gold and silver bulllion">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">

</head>

<body>
  {% include 'nav.html' %}
  {% include 'header.html' %}

  <div class="search-dot"><i class="fas fa-search"></i></div>
  <script>
    var SPOT_PRICES = {
      gold: {
        g: {{gold_g}},
        oz: {{gold_oz}},
        kg: {{gold_kg}}
      },
    silver: {
      g: {{silver_g}},
      oz: {{silver_oz}},
      kg: {{silver_kg}}
    }
    }

  </script>
  <!--<script src="{{ url_for('static', path='js/main.js') }}"></script> -->
{% include 'footer.html'%}