.header {
  padding: 2rem;
  height: 60vh;
  background-color: $color_primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  &__banner {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    &--title {
      font-size: 5rem;
      color: white;
    }
    &--subtext {
      font-size: 2.5rem;
      color: white;
    }

  }

}

.nav {
  display: flex;
  background-color: $color_primary;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  &__logo {
    font-size: 3rem;
    background-color: $color_primary;
    padding: 2rem;
    & img {
      height: 4rem;
    }
  }
}

#search-error {
  color: red;
  font-size: 1.5rem;
}