.search {
  margin-top:  10rem;
  display: flex;
  align-items: center;

  @media all and (max-width: 768px) {
        display: inline-block;
      }

  &-results {
    @media all and (max-width: 768px) {
      max-width: 100%;

    }
    max-width: 50%;

    & h1 {
      text-align: center;
    }
  }

  &-pagination {
    a {
      text-decoration: none;
    }
  }
}
