.spot_prices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  &__gold {
    display: flex;
    align-items: center;
     font-size: 2rem;
      & img {
        height: 3rem;
        margin-right: 0.5rem;
      }
  }

  &__silver {
    font-size: 2em;
    display: flex;
    align-items: center;
    & img {
        height: 3rem;
        margin-right: 0.5rem;
      }
  }
}