{% include 'head.html'%}
{% include 'nav.html'%}

 <header class="header">
      <div class="header__banner">
        <h1 class="header__banner--title">
          Search in-stock gold & silver bullion.
        </h1>
        <p class="header__banner--subtext">bullionradar searches thousands of products to compare prices side by side to quickly find the best investment.</p>
          {% with form_display="search-box--main-page"%}
            {% include './components/search_box.html'%}
          {% endwith %}
      </div>
  </header>

 {% include 'footer.html'%}